mixin sAuth(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			+e.item
				h3=data
			+e.item
				+e.wrap-it
					p Если вы хотите изменить данные профиля, пожалуйста, напишите на #[a(href="mailto:vkadre-info@mos.ru") vkadre-info@mos.ru].
					.profile-info__input-title.small.text-secondary Согласие на обработку персональных данных может быть отозвано вами путем подачи Оператору заявления в простой письменной форме по адресу электронной почты Оператора: #[a(href="mailto:info@mguu.ru") info@mguu.ru].
			+prifileInfo
	// end sAuth

mixin prifileInfo 
	+b.profile-info.row 
		+e.col.col-lg-4
			+input("",'text', 'Имя')(value='Алексей' disabled)
		+e.col.col-lg-4
			+input("",'text', 'Отчество')(value='Игоревич' disabled)
		+e.col.col-lg-4
			+input("",'text', 'Фамилия')(value='Кондратьев' disabled)
		+e.col.col-lg-6
			+input("",'email', 'E-mail')(value='kondratPM@mail.ru' disabled)
		+e.col.col-lg-6
			+input("",'tel', 'Контактный телефон')(value='+7 (999) 765-56-53' disabled)
		+e.col.col-lg-6
			+input("",'text', 'Ваша организация')(value='ООО «Ромашки»' disabled)
		+e.col.col-lg-6
			+input("",'text', 'Должность')(value='Директор по развитию' disabled)

mixin prifileInfo2
	+b.profile-info.row 
		+e.col.col-lg-4
			+input("",'text', 'Имя')(value='Алексей' disabled)
		+e.col.col-lg-4
			+input("",'text', 'Отчество')(value='Игоревич' disabled)
		+e.col.col-lg-4
			+input("",'text', 'Фамилия')(value='Кондратьев' disabled)
		+e.col.col-lg-4
			+input("",'email', 'E-mail')(value='kondratPM@mail.ru' disabled)
		+e.col.col-lg-4
			+input("",'tel', 'Контактный телефон')(value='+7 (999) 765-56-53' disabled)
		+e.col.col-lg-4
			+input("",'number', 'ИНН организации')(value='1234567890' disabled)
		+e.col.col-lg-6
			+input("",'text', 'Ваша организация')(value='ООО «Ромашки»' disabled)
		+e.col.col-lg-6
			+input("",'text', 'Должность')(value='Директор по развитию' disabled)

mixin partsItem(date, t, i)
	+b.parts-item.tinny-item-js&attributes(attributes)
		+img(src="img/svg/chain.svg", alt="").chain
		+e.date.small=date
		+e.t.fw-600=t
			+img(src="img/svg/i.svg", alt="").i
		if i
			.tinny-template.d-none=i
		if block
			.tinny-template.d-none
				block

mixin chronoline
	+partsItem('13 февраля — 11 июля', 'Прием заявок').active
		p Подать заявку нужно в соответствующем разделе в верхнем меню. 
		p Формировать заявку можно постепенно: даже если вы не заполните все поля, черновик сохранится — его можно будет доработать в любой момент до 11 июля.
	+partsItem('14 июля — 3 августа', 'Техническая экспертиза', 'Мы проверим вашу заявку на соответствие критериям Премии. В это время ничего делать не нужно. Если у нас возникнут вопросы или рекомендации по вашей заявке — мы свяжемся с вами.').active
	+partsItem('4 августа — 7 сентября', 'Экспертная комиссия')
		p Эксперты Премии оценят проекты и выберут #[strong 60 лучших]. Для прозрачности отбора все данные передаются экспертам в анонимном виде, а участники не знают, кто именно из экспертов рассматривает их проект. Информацию о командах и их проектах мы опубликуем на сайте Премии.
	+partsItem('8 сентября — 21 сентября ', 'Голосование жюри')
		p Члены жюри изучат проекты 60 финалистов и выберут 36 лауреатов. Из них #[strong 12 станут победителями] Премии и получат денежные призы.
	+b.parts-item.tinny-item-js
		+img(src="img/svg/chain.svg", alt="").chain
		+e.date.small 2 октября #[span очно в Москве]
		+e.t.fw-600 Премьера
			+img(src="img/svg/i.svg", alt="").i
		.tinny-template.d-none
			p Приветствуем финалистов, награждаем лауреатов и победителей на торжественной церемонии очно в Москве.
			p #[strong Обратите внимание]: проезд и проживание для участия в мероприятии команды оплачивают самостоятельно.

mixin sAuth3(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			+e.item
				h3=data
			+e.item.parts: +chronoline
			+e.item.applies-row.row
				+applyCard('Лучшие спецэффекты: технологическое решение года', 'Больше чем ты думал')
					+e.badge.small.badge.text-bg-secondary Черновик
					+e.links 
						+e.link.A(href='#' download): +icon('download')
						+e.link.A(href='#'): +icon('edit')
				+applyCard('Лучшие спецэффекты: технологическое решение года', 'Больше чем ты думал')
					+e.badge.small.badge.text-bg-success На рассмотрении
					+e.links 
						+e.link.A(href='#' download): +icon('download')
						+e.link.A(href='#'): +icon('edit')
				+applyCard('Лучшие спецэффекты: технологическое решение года', 'Больше чем ты думал', 'Скачать диплом').btn-primary
					+e.badge.small.badge.text-bg-dark Финалист
					+e.links 
						+e.link.A(href='#' download): +icon('download')
				+applyCard('Лучшие спецэффекты', 'Больше чем ты думал', 'Скачать диплом', 'grad').btn-gradient
					+e.badge.small.badge.text-bg-gradient Победитель
					+e.links 
						+e.link.A(href='#' download): +icon('download')
				+applyCard('Лучшие спецэффекты: технологическое решение года', 'Больше чем ты думал', 'Скачать сертификат').btn-info
					+e.badge.small.badge.text-bg-info Номинант
					+e.links 
						+e.link.A(href='#' download): +icon('download')
				+applyCard('Лучшие спецэффекты: технологическое решение года', 'Больше чем ты думал')
					+e.badge.small.badge.text-bg-warning Отозвана
					+e.links 
						+e.link.A(href='#' download): +icon('download')
				+e.col.col-md-6.col-xl-4
					+b.apply-card--empty(href='#')
						+e.title.h5 Подать заявку на Премию
							+img(src="img/svg/plus.svg", alt="").plus
				+e.item: +legend
	// end sAuth

//- Моя заявкка
mixin sAuth4(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			+e.top-row.row.item-large
				.col-md-auto.order-md-last
					+e.date.text-secondary 11.10.2024
				.col-md-auto
					h3=data
				.col-md
					+e.badge-wrap
						.badge.text-bg-success На рассмотрении
						.descr.text-success Отлично, вы заполнили все обязательные поля! Организаторы приступят к проверке заявки и свяжутся с вами при необходимости.
			.item-large
				.h5.span-gradient
					span Категория
					+img(src="img/svg/bank.svg", alt="")
					| Федерация
			.item-large
				.h5.span-gradient
					span Номинация
					+img(src="img/svg/frame.svg", alt="")
					| В фокусе: удержание
			+e.item.item-large
				.h5.span-gradient
					span Контактное лицо
				p Если вы хотите изменить данные о контактном лице, пожалуйста, напишите на #[a(href="mailto:vkadre-info@mos.ru") vkadre-info@mos.ru].
				+prifileInfo2
			+e.item.item-large
				.item-large-inner
					.h5.span-gradient
						span О проекте
					button.btn.btn-outline-secondary.btn-sm.small Редактировать
						+icon('edit')
				+e.large-form.FORM
					+input("Введите текст",'textarea', 'Организация, реализовавшая проект')(data-value='Введенный текст' disabled required)
						span.text-secondary.small Напишите полное юридическое название<br>организации.
					+input("Введите текст",'text', 'ИНН организации')(value='1234567890' disabled required)
					+input("Введите текст",'textarea', 'Название проекта')(data-value='Введенный текст' disabled required maxlength="300" )
						span.text-secondary.small Название отобразится в вашем личном кабинете, а если проект войдет в число лучших — будет использовано для публикаций на сайте и других информационных площадках Премии.
					+input("Введите текст",'textarea', 'Краткое описание проекта')(data-value='' disabled required maxlength="800" )
						span.text-secondary.small Опишите суть проекта и его цель в нескольких предложениях.
					+input("Введите текст",'textarea', 'Задачи и проблемы, которые решил или решает проект')( disabled required maxlength )
						span.text-secondary.small Кратко обозначьте проблему/задачу, которую ваш проект призван решить. Укажите, на что эта проблема влияет в организации, что произойдет, если ее игнорировать.
					+input("Введите текст",'textarea', 'Суть решения')(disabled required maxlength )
						span.text-secondary.small Кратко опишите этапы реализации проекта с указанием ключевых действий, которые позволили достичь поставленных целей и выделить проект на фоне других задач: какие инструменты разработали или внедрили, какие мероприятия провели, какие процессы оптимизировали и так далее. Избегайте общих фраз, таких как «собрали команду» или «проанализировали проблему».
					+input("Введите текст",'textarea', 'Ресурсы')(disabled required maxlength )
						span.text-secondary.small Перечислите ресурсы, использованные для реализации проекта. Разделите на категории и опишите каждую подробно. Например, человеческие ресурсы (внутренние и внешние специалисты), материальные ресурсы (оборудование, закупки или лицензии), финансовые ресурсы, ИТ-инструменты, программное обеспечение, временные затраты и так далее.
					+input("Введите текст",'textarea', 'Плановые KPI')(data-value='Подробно опишите его влияние на улучшение работы вашей организации или команды. Опишите вклад в улучшение эффективности управления человеческими ресурсами, а также достигнутые результаты и изменения, произошедшие благодаря вашим действиям. Подкрепите ответ количественными и качественными показателями. Опишите, как ваши достижения повлияли на повышение профессиональных стандартов и совершенствование HR-направления в вашей организации или отрасли.' disabled required maxlength )
						span.text-secondary.small Опишите ключевые показатели эффективности, которых вы достигли в 2024 году, а также цели проекта на 2025 год. Если проект разовый и завершился в 2024 году, укажите только запланированные и достигнутые показатели.
					+input("Введите текст",'textarea', 'Количественные показатели оценки эффективности на момент подачи заявки')(disabled required)
						span.text-secondary.small Укажите количественные метрики эффективности вашего проекта, например рост численности участников, сокращение времени выполнения процессов, повышение вовлеченности сотрудников, снижение текучести кадров и другие.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+input("Введите текст",'textarea', 'Качественные показатели оценки эффективности на момент подачи заявки')(disabled required)
						span.text-secondary.small Опишите нематериальные достижения проекта, такие как улучшение удовлетворенности сотрудников, повышение уровня доверия и другие качественные изменения. Укажите метрики, если показатели являются измеримыми.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title Подтверждающие документы
								span.text-secondary.small Это могут быть отчеты, аналитика, отзывы сотрудников, фотографии, сертификаты — любые материалы, которые подтверждают результаты проекта. 
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile
					
					//- 12
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Ссылки на соцсети или публикации о проекте в СМИ
								.text-secondary.small Пожалуйста, используйте ссылки только на #[a.text-secondary(href='https://rkn.gov.ru/press/news/news74813.html') разрешенные в России] соцсети и платформы.
						.col-lg
							+e.inputs.inputs-js(data-max='3')
								.input-wrap
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ссылка" value="" required).form-control
									input(type="text" placeholder="Описание" value="" required).form-control
							+e.btns
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 3 ссылок.
					//- 13
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Рекомендательное письмо
								span.text-secondary.small Документ на бланке организации с подписью руководителя организации, подтверждающий значимость проекта для организации.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile.is-invalid

					//- 14
					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Презентация о проекте
								span.text-secondary.small Пожалуйста, ознакомьтесь с #[a(href='#') требованиями] к оформлению презентации.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pptx, pdf, docx, .... .
							+uploadFileSingle.is-invalid

					//- 15
					+input("Введите текст",'textarea', 'Ссылка на видео о проекте')
						span.text-secondary.small Длительность видео — до 5 минут. Это необязательный пункт, но в случае победы видео может быть использовано в качестве презентации вашего проекта на информационных площадках Премии.

					//- 16
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Добавьте информацию о команде. Укажите сотрудников, которые внесли наибольший вклад при реализации проекта
								.text-secondary.small Укажите не более 10 ключевых сотрудников.
								.text-purple.small Если ваш проект пройдет техническую экспертизу, данный пункт можно будет редактировать до 3 августа
						.col-lg
							+e.inputs.inputs-js(data-max='10')
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." value="Ф.И.О." required).form-control
									input(type="text" placeholder="Роль в проекте" value="Роль в проекте" required).form-control
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." ).form-control
									input(type="text" placeholder="Роль в проекте").form-control
							+e.btns 
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 10 человек.
				+e.bottom-btns
					+e.btn.btn.btn-link.text-secondary.small(href='#' download) Скачать заявку
						+icon('download')
					button.btn.btn-outline-primary.small Сохранить черновик
					button.btn.btn-outline-primary.small Редактировать
	// end sAuth

mixin sAuth5(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			+e.top-row.row.sAuth__item
				.col-md-auto.order-md-last
					+e.date.text-secondary 11.10.2024
				.col-md-auto
					h3=data
				.col-md
					+e.badge-wrap
						.badge.text-bg-secondary Черновик
						.descr.text-danger Пожалуйста, заполните все поля, <br>чтобы завершить формирование заявки.
			+e.item-md.item_gray
				.row
					.col-lg-8
						+e.item-wrap
							p Успейте внести данные в обязательные поля#[span.text-danger *] #[span.fw-600 до 11 июля]! Вы сможете в любой момент отредактировать заявку, а также сохранить ее в черновик и продолжить заполнение в удобное для вас время во вкладке «Мои заявки».
						+e.item-wrap.item-wrap_white
							p Ознакомьтесь с образцом заполнения заявки. 
							p В качестве примера в нем описан реальный проект команды Управления кадровых сервисов Правительства Москвы.
							a(href="#" download).download-link.tdu.text-large Скачать образец
								+icon('download')
					//- .col-lg
					//- 	.text-end: +img(src="img/manager.png", alt="").manager-img
					//- 	.item-wrap_white.manager
					//- 		.fw-700 Сергей Журихин
					//- 		.small.text-secondary Руководитель отдела по работе с заявками
			.item-large
				.h5.span-gradient
					span Категория
					+img(src="img/svg/bank.svg", alt="")
					| Федерация
					+e.link.A(href='#'): +icon('edit')
			.item-large
				.h5.span-gradient
					span Номинация
					+img(src="img/svg/frame.svg", alt="")
					| В фокусе: удержание
					+e.link.A(href='#'): +icon('edit')
			+e.item.item-large
				.h5.span-gradient
					span Контактное лицо
				p Если вы хотите изменить данные о контактном лице, пожалуйста, напишите на #[a(href="mailto:vkadre-info@mos.ru") vkadre-info@mos.ru].
				+prifileInfo2
			+e.item.item-large
				.item-large-inner
					.h5.span-gradient
						span О проекте
					button.btn.btn-primary.btn-sm.small Сохранить изменения
						+icon('check-white')
				+e.large-form.FORM
					+input("Введите текст",'textarea', 'Организация, реализовавшая проект')(required).is-invalid
						span.text-secondary.small Напишите полное юридическое название<br>организации.
					+input("_ _ _ _ _ _ _ _ _ _",'text', 'ИНН организации').mask-firm(required).is-invalid
					+input("Введите текст",'textarea', 'Название проекта')(required maxlength="300" ).is-invalid
						span.text-secondary.small Название отобразится в вашем личном кабинете, а если проект войдет в число лучших — будет использовано для публикаций на сайте и других информационных площадках Премии.
					+input("Введите текст",'textarea', 'Краткое описание проекта')(required maxlength="800" ).is-invalid
						span.text-secondary.small Опишите суть проекта и его цель в нескольких предложениях.
					+input("Введите текст",'textarea', 'Задачи и проблемы, которые решил или решает проект')( required  maxlength ).is-invalid
						span.text-secondary.small Кратко обозначьте проблему/задачу, которую ваш проект призван решить. Укажите, на что эта проблема влияет в организации, что произойдет, если ее игнорировать.
					+input("Введите текст",'textarea', 'Суть решения')( required  maxlength ).is-invalid
						span.text-secondary.small Кратко опишите этапы реализации проекта с указанием ключевых действий, которые позволили достичь поставленных целей и выделить проект на фоне других задач: какие инструменты разработали или внедрили, какие мероприятия провели, какие процессы оптимизировали и так далее. Избегайте общих фраз, таких как «собрали команду» или «проанализировали проблему».
					+input("Введите текст",'textarea', 'Ресурсы')( required  maxlength ).is-invalid
						span.text-secondary.small Перечислите ресурсы, использованные для реализации проекта. Разделите на категории и опишите каждую подробно. Например, человеческие ресурсы (внутренние и внешние специалисты), материальные ресурсы (оборудование, закупки или лицензии), финансовые ресурсы, ИТ-инструменты, программное обеспечение, временные затраты и так далее.
					+input("Введите текст",'textarea', 'Плановые KPI')(data-value='Подробно опишите его влияние на улучшение работы вашей организации или команды. Опишите вклад в улучшение эффективности управления человеческими ресурсами, а также достигнутые результаты и изменения, произошедшие благодаря вашим действиям. Подкрепите ответ количественными и качественными показателями. Опишите, как ваши достижения повлияли на повышение профессиональных стандартов и совершенствование HR-направления в вашей организации или отрасли.'  required  maxlength ).is-invalid
						span.text-secondary.small Опишите ключевые показатели эффективности, которых вы достигли в 2024 году, а также цели проекта на 2025 год. Если проект разовый и завершился в 2024 году, укажите только запланированные и достигнутые показатели.
					+input("Введите текст",'textarea', 'Количественные показатели оценки эффективности на момент подачи заявки')( maxlength  required).is-invalid
						span.text-secondary.small Укажите количественные метрики эффективности вашего проекта, например рост численности участников, сокращение времени выполнения процессов, повышение вовлеченности сотрудников, снижение текучести кадров и другие.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+input("Введите текст",'textarea', 'Качественные показатели оценки эффективности на момент подачи заявки')( maxlength  required).is-invalid
						span.text-secondary.small Опишите нематериальные достижения проекта, такие как улучшение удовлетворенности сотрудников, повышение уровня доверия и другие качественные изменения. Укажите метрики, если показатели являются измеримыми.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title Подтверждающие документы
								span.text-secondary.small Это могут быть отчеты, аналитика, отзывы сотрудников, фотографии, сертификаты — любые материалы, которые подтверждают результаты проекта. 
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile.is-invalid

					//- 12
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Ссылки на соцсети или публикации о проекте в СМИ
								.text-secondary.small Пожалуйста, используйте ссылки только на #[a(href='https://rkn.gov.ru/press/news/news74813.html') разрешенные в России] соцсети и платформы.
						.col-lg
							+e.inputs.inputs-js(data-max='3')
								.input-wrap
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ссылка" value="" required).form-control
									input(type="text" placeholder="Описание" value="" required).form-control
							+e.btns
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 3 ссылок.
					//- 13
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Рекомендательное письмо
								span.text-secondary.small Документ на бланке организации с подписью руководителя организации, подтверждающий значимость проекта для организации.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile.is-invalid

					//- 14
					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Презентация о проекте
								span.text-secondary.small Пожалуйста, ознакомьтесь с #[a(href='#') требованиями] к оформлению презентации.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pptx, pdf, docx, .... .
							+uploadFileSingle.is-invalid

					//- 15
					+input("Введите текст",'textarea', 'Ссылка на видео о проекте')
						span.text-secondary.small Длительность видео — до 5 минут. Это необязательный пункт, но в случае победы видео может быть использовано в качестве презентации вашего проекта на информационных площадках Премии.

					//- 16
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Добавьте информацию о команде. Укажите сотрудников, которые внесли наибольший вклад при реализации проекта
								.text-secondary.small Укажите не более 10 ключевых сотрудников.
								.text-purple.small Если ваш проект пройдет техническую экспертизу, данный пункт можно будет редактировать до 3 августа
						.col-lg
							+e.inputs.inputs-js(data-max='10')
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." value="Ф.И.О." required).form-control
									input(type="text" placeholder="Роль в проекте" value="Роль в проекте" required).form-control
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." ).form-control
									input(type="text" placeholder="Роль в проекте").form-control
							+e.btns 
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 10 человек.
				+e.bottom-btns
					+e.btn.btn.btn-link.text-secondary.small(href='#' download) Скачать заявку
						+icon('download')
					button.btn.btn-outline-primary.small Сохранить черновик
					button.btn.btn-primary.small Сохранить изменения
	// end sAuth


mixin sAuth6(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			+e.top-row.row.item-large
				.col-md-auto.order-md-last
					+e.date.text-secondary 11.10.2024
				.col-md-auto
					h3=data
				.col-md
					+e.badge-wrap
						.badge.text-bg-success На рассмотрении
						.descr.text-success Ваша заявка успешно прошла этап технической экспертизы. Чтобы перейти на этап оценки экспертной комиссии, загрузите дополнительные документы.
			.item-large
				.h5.span-gradient
					span Категория
					+img(src="img/svg/bank.svg", alt="")
					| Федерация
			.item-large
				.h5.span-gradient
					span Номинация
					+img(src="img/svg/frame.svg", alt="")
					| В фокусе: удержание
			+e.item.item-large
				.h5.span-gradient
					span Контактное лицо
				p Если вы хотите изменить данные о контактном лице, пожалуйста, напишите на #[a(href="mailto:vkadre-info@mos.ru") vkadre-info@mos.ru].
				+prifileInfo2
			+e.item.item-large
				.item-large-inner
					.h5.span-gradient
						span О проекте
				+e.large-form.FORM
					+input("Введите текст",'textarea', 'Организация, реализовавшая проект')(data-value='Введенный текст' required disabled)
						span.text-secondary.small Напишите полное юридическое название<br>организации.
					+input("_ _ _ _ _ _ _ _ _ _",'text', 'ИНН организации').mask-firm(required disabled value='1234567890')
					+input("Введите текст",'textarea', 'Название проекта')(data-value='Введенный текст' required maxlength="300" disabled)
						span.text-secondary.small Название отобразится в вашем личном кабинете, а если проект войдет в число лучших — будет использовано для публикаций на сайте и других информационных площадках Премии.
					+input("Введите текст",'textarea', 'Краткое описание проекта')(required maxlength="800" disabled data-value='Введенный текст')
						span.text-secondary.small Опишите суть проекта и его цель в нескольких предложениях.
					+input("Введите текст",'textarea', 'Задачи и проблемы, которые решил или решает проект')(data-value='Введенный текст' required  maxlength disabled)
						span.text-secondary.small Кратко обозначьте проблему/задачу, которую ваш проект призван решить. Укажите, на что эта проблема влияет в организации, что произойдет, если ее игнорировать.
					+input("Введите текст",'textarea', 'Суть решения')( required  maxlength disabled data-value='Введенный текст')
						span.text-secondary.small Кратко опишите этапы реализации проекта с указанием ключевых действий, которые позволили достичь поставленных целей и выделить проект на фоне других задач: какие инструменты разработали или внедрили, какие мероприятия провели, какие процессы оптимизировали и так далее. Избегайте общих фраз, таких как «собрали команду» или «проанализировали проблему».
					+input("Введите текст",'textarea', 'Ресурсы')(data-value='Введенный текст' required  maxlength disabled)
						span.text-secondary.small Перечислите ресурсы, использованные для реализации проекта. Разделите на категории и опишите каждую подробно. Например, человеческие ресурсы (внутренние и внешние специалисты), материальные ресурсы (оборудование, закупки или лицензии), финансовые ресурсы, ИТ-инструменты, программное обеспечение, временные затраты и так далее.
					+input("Введите текст",'textarea', 'Плановые KPI')(data-value='Подробно опишите его влияние на улучшение работы вашей организации или команды. Опишите вклад в улучшение эффективности управления человеческими ресурсами, а также достигнутые результаты и изменения, произошедшие благодаря вашим действиям. Подкрепите ответ количественными и качественными показателями. Опишите, как ваши достижения повлияли на повышение профессиональных стандартов и совершенствование HR-направления в вашей организации или отрасли.'  required  maxlength disabled)
						span.text-secondary.small Опишите ключевые показатели эффективности, которых вы достигли в 2024 году, а также цели проекта на 2025 год. Если проект разовый и завершился в 2024 году, укажите только запланированные и достигнутые показатели.
					+input("Введите текст",'textarea', 'Количественные показатели оценки эффективности на момент подачи заявки')( maxlength disabled required data-value='Введенный текст')
						span.text-secondary.small Укажите количественные метрики эффективности вашего проекта, например рост численности участников, сокращение времени выполнения процессов, повышение вовлеченности сотрудников, снижение текучести кадров и другие.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+input("Введите текст",'textarea', 'Качественные показатели оценки эффективности на момент подачи заявки')( maxlength disabled required data-value='Введенный текст')
						span.text-secondary.small Опишите нематериальные достижения проекта, такие как улучшение удовлетворенности сотрудников, повышение уровня доверия и другие качественные изменения. Укажите метрики, если показатели являются измеримыми.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title Подтверждающие документы
								span.text-secondary.small Это могут быть отчеты, аналитика, отзывы сотрудников, фотографии, сертификаты — любые материалы, которые подтверждают результаты проекта. 
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile
										//- 12
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Ссылки на соцсети или публикации о проекте в СМИ
								.text-secondary.small Пожалуйста, используйте ссылки только на #[a(href='https://rkn.gov.ru/press/news/news74813.html') разрешенные в России] соцсети и платформы.
						.col-lg
							+e.inputs.inputs-js(data-max='3')
								.input-wrap
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ссылка" value="" required).form-control
									input(type="text" placeholder="Описание" value="" required).form-control
							+e.btns
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 3 ссылок.

					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required.text-gradient #[span Рекомендательное письмо]
								span.text-secondary.small Текст пояснения для поля, который даст представление о том, что именно здесь нужно писать.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile

					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required.text-gradient #[span Презентация о проекте]
								span.text-secondary.small Пожалуйста, ознакомьтесь с #[a(href='#') требованиями] к оформлению презентации.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pptx, pdf, docx, .... .
							+uploadFileSingle

					.sAuth__input-wrap.form-group
						label
							span.sAuth__input-title.text-gradient #[span Ссылка на видео о проекте]
							textarea.sAuth__input.form-control(placeholder="Введите текст")
							span.text-secondary.small Длительность видео — до 5 минут. Это необязательный пункт, но в случае победы видео может быть использовано в качестве презентации вашего проекта на информационных площадках Премии.

					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required.text-gradient #[span Добавьте информацию о команде. Укажите сотрудников, которые внесли наибольший вклад при реализации проекта]
								.text-secondary.small Укажите не более 10 ключевых сотрудников.
								.text-purple.small Если ваш проект пройдет техническую экспертизу, данный пункт можно будет редактировать до 3 августа
						.col-lg
							+e.inputs.inputs-js(data-max='10')
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." value="Ф.И.О." required).form-control
									input(type="text" placeholder="Роль в проекте" value="Роль в проекте" required).form-control
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." ).form-control
									input(type="text" placeholder="Роль в проекте").form-control
							+e.btns 
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 10 человек.
				+e.bottom-btns
					+e.btn.btn.btn-link.text-secondary.small(href='#' download) Скачать заявку
						+icon('download')
					button.btn.btn-outline-primary.small Сохранить черновик
					button.btn.btn-primary.small Отправить
	// end sAuth


mixin sAuth7(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			+e.item
				h3=data
			+e.item-md.item_gray
				.row
					.col-lg-8
						+e.item-wrap
							.h5 Здесь пока ничего нет. Давайте это исправим?
							p Вы сможете в любой момент отредактировать заявку с описанием вашего проекта, а также сохранить ее в черновик и продолжить заполнение в удобное для вас время во вкладке «Мои заявки».
							p Для удобства мы разработали #[a(href="#").fw-700 образец заполнения заявки], чтобы вы могли заранее собрать все необходимые данные. Также вы можете скачать #[a(href="#" download).fw-700 памятка участника].
						+e.item-wrap
							+b.apply-card--empty.apply-card_gray(href='#')
								+e.title.h5 Подать заявку на Премию
									+img(src="img/svg/plus.svg", alt="").plus
					//- .col-lg
					//- 	.text-end: +img(src="img/manager.png", alt="").manager-img
					//- 	.item-wrap_white.manager
					//- 		.fw-700 Сергей Журихин
					//- 		.small.text-secondary Руководитель отдела по работе с заявками
			+e.item
				.h5 Этапы Премии
				.parts: +chronoline

mixin legend 
	+b.legend: .legend-row
		+legendItem('Заявка не принята к рассмотрению, так как не заполнены обязательные поля')
			+e.badge-wrap.text-end: .small.badge.text-bg-secondary Черновик
		+legendItem('Все обязательные поля заполнены, но вы все еще можете вносить изменения до 11 июля')
			+e.badge-wrap.text-end: .small.badge.text-bg-success На рассмотрении
		+legendItem('Заявка соответствует критериям Премии и допущена к рассмотрению экспертами.')
			+e.badge-wrap.text-end: .small.badge.text-bg-info Номинант
		+legendItem('Ваш проект прошел в финал в своей номинации')
			+e.badge-wrap.text-end: .small.badge.text-bg-black Финалист
		+legendItem('Ваш проект вошел в тройку лучших в своей номинации')
			+e.badge-wrap.text-end: .small.badge.text-bg-dark Лауреат
		+legendItem('Ваш проект занял первое место в своей номинации. Поздравляем!')
			+e.badge-wrap.text-end: .small.badge.text-bg-gradient Победитель
		+legendItem('Вы сняли заявку с рассмотрения')
			+e.badge-wrap.text-end: .small.badge.text-bg-warning Отозвана
		+legendItem('Заявка отклонена')
			+e.badge-wrap.text-end: .small.badge.text-bg-danger Отклонена
		//- +e.col.col-lg-6 
		//- 	+legendItem('Просматривайте и редактируйте заявки, вносите изменения до 11 июля.')
		//- 		+e.badge-wrap.text-end: +icon('edit')
		//- 	+legendItem('Скачивайте заявку в формате docx, чтобы делиться ей с коллегами в несколько кликов.')
		//- 		+e.badge-wrap.text-end: +icon('download')

mixin legendItem(p)
	+b.legend-item 
		block 
		+e.text.small.text-secondary.order-last= p

mixin applyCard(p, t, btn, grad)
	+e.col.col-md-6.col-xl-4
		+b.apply-card
			+e.wrap
				+e.top.row-between
					block
				+e.content
					.small=p
					+e.title.h5=t
			+e.bottom.row-between
				+e.date.text-secondary.small.tinny-item-js 11.10.2024
					.tinny-template.d-none Дата создания заявки
				if grad 
					+e.btn.btn.btn-sm.small(href='#' download)&attributes(attributes)
						span=btn
				else if btn 
					+e.btn.btn.btn-sm.small(href='#' download)&attributes(attributes)=btn

mixin sAuth2(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6
					+b.section-title
						h3 Подать заявку
					+e.text
						.h5 Заявите свой проект на Премию Правительства Москвы в сфере управления персоналом «В кадре».
						p Подача заявки проходит в несколько этапов — вы можете заполнять данные постепенно или #[span отредактировать заявку до 11 июля.]
					+e.btn.btn.btn-primary(href='#') Начать
				+e.col.col-lg-6
					+e.card-info
						+img(src="img/svg/info.svg", alt="").info
						p Если у вас возникнут вопросы или трудности при заполнении заявки, пожалуйста, #[a(href='#') свяжитесь с нами] — мы проконсультируем вас по каждому пункту и ответим на любой вопрос.

	// end sAuth


mixin sAuthSuccess(data)
	// start sAuth
	+b.SECTION.sAuth.section&attributes(attributes)
		.container
			+e.wrap-success.text-center
				+e.img-top-wrap.text-center: +img(src="img/svg/success.svg", alt="")
				.h3 Вы успешно активировали личный кабинет участника Премии и можете приступить к подаче заявок!
				+e.btn.btn.btn-primary(href='#') Продолжить
	// end sAuth

  
mixin sAuthStep4(data)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth&attributes(attributes)
		.container
			.sSteps__top-wrap
				h3=data
				+stepsLine(data-step="4")
			+e.item-md.item_gray
				.row
					.col-lg-8
						+e.item-wrap
							.h5 Давайте познакомимся с вашим проектом!
							p Успейте внести данные в обязательные поля#[span.text-danger *] #[span.fw-600 до 11 июля]! Вы сможете в любой момент отредактировать заявку или продолжить заполнение в удобное для вас время во вкладке «Мои заявки». Все заполненные поля сохраняются автоматически. 
						+e.item-wrap.item-wrap_white
							p Ознакомьтесь с образцом заполнения заявки. 
							p В качестве примера в нем описан реальный проект команды Управления кадровых сервисов Правительства Москвы.
							a(href="#" download).download-link.tdu.text-large Скачать образец
								+icon('download')
					//- .col-lg
					//- 	.text-end: +img(src="img/manager.png", alt="").manager-img
					//- 	.item-wrap_white.manager
					//- 		.fw-700 Сергей Журихин
					//- 		.small.text-secondary Руководитель отдела по работе с заявками
			+e.item
				+e.item-large-line
					.h5.span-gradient
						span Категория
						+img(src="img/svg/bank.svg", alt="")
						| Федерация
					.h5.span-gradient
						span Номинация
						+img(src="img/svg/frame.svg", alt="")
						| В фокусе: удержание
			+e.item.item-large
				+e.large-form.FORM
					+input("Введите текст",'textarea', 'Организация, реализовавшая проект')(required)
						span.text-secondary.small Напишите полное юридическое название<br>организации.
					+input("_ _ _ _ _ _ _ _ _ _",'text', 'ИНН организации').mask-firm(required)
					+input("Введите текст",'textarea', 'Название проекта')(required maxlength="300" )
						span.text-secondary.small Название отобразится в вашем личном кабинете, а если проект войдет в число лучших — будет использовано для публикаций на сайте и других информационных площадках Премии.
					+input("Введите текст",'textarea', 'Краткое описание проекта')(required maxlength="800" )
						span.text-secondary.small Опишите суть проекта и его цель в нескольких предложениях.
					+input("Введите текст",'textarea', 'Задачи и проблемы, которые решил или решает проект')( required  maxlength )
						span.text-secondary.small Кратко обозначьте проблему/задачу, которую ваш проект призван решить. Укажите, на что эта проблема влияет в организации, что произойдет, если ее игнорировать.
					+input("Введите текст",'textarea', 'Суть решения')( required  maxlength )
						span.text-secondary.small Кратко опишите этапы реализации проекта с указанием ключевых действий, которые позволили достичь поставленных целей и выделить проект на фоне других задач: какие инструменты разработали или внедрили, какие мероприятия провели, какие процессы оптимизировали и так далее. Избегайте общих фраз, таких как «собрали команду» или «проанализировали проблему».
					+input("Введите текст",'textarea', 'Ресурсы')( required  maxlength )
						span.text-secondary.small Перечислите ресурсы, использованные для реализации проекта. Разделите на категории и опишите каждую подробно. Например, человеческие ресурсы (внутренние и внешние специалисты), материальные ресурсы (оборудование, закупки или лицензии), финансовые ресурсы, ИТ-инструменты, программное обеспечение, временные затраты и так далее.
					+input("Введите текст",'textarea', 'Плановые KPI')(data-value='Подробно опишите его влияние на улучшение работы вашей организации или команды. Опишите вклад в улучшение эффективности управления человеческими ресурсами, а также достигнутые результаты и изменения, произошедшие благодаря вашим действиям. Подкрепите ответ количественными и качественными показателями. Опишите, как ваши достижения повлияли на повышение профессиональных стандартов и совершенствование HR-направления в вашей организации или отрасли.'  required  maxlength )
						span.text-secondary.small Опишите ключевые показатели эффективности, которых вы достигли в 2024 году, а также цели проекта на 2025 год. Если проект разовый и завершился в 2024 году, укажите только запланированные и достигнутые показатели.
					+input("Введите текст",'textarea', 'Количественные показатели оценки эффективности на момент подачи заявки')( maxlength  required)
						span.text-secondary.small Укажите количественные метрики эффективности вашего проекта, например рост численности участников, сокращение времени выполнения процессов, повышение вовлеченности сотрудников, снижение текучести кадров и другие.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+input("Введите текст",'textarea', 'Качественные показатели оценки эффективности на момент подачи заявки')( maxlength  required)
						span.text-secondary.small Опишите нематериальные достижения проекта, такие как улучшение удовлетворенности сотрудников, повышение уровня доверия и другие качественные изменения. Укажите метрики, если показатели являются измеримыми.<br>Опишите методологию измерения каждого показателя и убедитесь, что они опираются на объективные данные.
					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title Подтверждающие документы
								span.text-secondary.small Это могут быть отчеты, аналитика, отзывы сотрудников, фотографии, сертификаты — любые материалы, которые подтверждают результаты проекта. 
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile.is-invalid

					//- 12
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Ссылки на соцсети или публикации о проекте в СМИ
								.text-secondary.small Пожалуйста, используйте ссылки только на #[a(href='https://rkn.gov.ru/press/news/news74813.html') разрешенные в России] соцсети и платформы.
						.col-lg
							+e.inputs.inputs-js(data-max='3')
								.input-wrap
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ссылка" value="" required).form-control
									input(type="text" placeholder="Описание" value="" required).form-control
							+e.btns
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 3 ссылок.
					//- 13
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Рекомендательное письмо
								span.text-secondary.small Документ на бланке организации с подписью руководителя организации, подтверждающий значимость проекта для организации.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pdf., jpeg., png.
							+uploadFile.is-invalid

					//- 14
					+e.input-row.row 
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Презентация о проекте
								span.text-secondary.small Пожалуйста, ознакомьтесь с #[a(href='#') требованиями] к оформлению презентации.
								span.text-purple.small Если ваш проект пройдет техническую экспертизу, пункт станет обязательным к заполнению до 3 августа
						.col-lg
							span.small.text-secondary Поддерживаются файлы в формате pptx, pdf, docx, .... .
							+uploadFileSingle.is-invalid

					//- 15
					+input("Введите текст",'textarea', 'Ссылка на видео о проекте')
						span.text-secondary.small Длительность видео — до 5 минут. Это необязательный пункт, но в случае победы видео может быть использовано в качестве презентации вашего проекта на информационных площадках Премии.

					//- 16
					+e.input-row.row
						.col-lg-4
							.sAuth__input-wrap.form-group
								.sAuth__input-title.required Добавьте информацию о команде. Укажите сотрудников, которые внесли наибольший вклад при реализации проекта
								.text-secondary.small Укажите не более 10 ключевых сотрудников.
								.text-purple.small Если ваш проект пройдет техническую экспертизу, данный пункт можно будет редактировать до 3 августа
						.col-lg
							+e.inputs.inputs-js(data-max='10')
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." value="Ф.И.О." required).form-control
									input(type="text" placeholder="Роль в проекте" value="Роль в проекте" required).form-control
								.input-wrap 
									button.icon-delete: +icon('x')
									input(type="text" placeholder="Ф.И.О." ).form-control
									input(type="text" placeholder="Роль в проекте").form-control
							+e.btns 
								button.btn.btn-sm.btn-secondary.btn-icon.small.add-input-js Добавить еще
									span: +icon('plus')
								span.small.text-secondary Можно добавить не более 10 человек.
			.sSteps__bottom-row.wrap
				.sSteps__left 
					.sSteps__btn.btn.btn-outline-primary.btn-back(href='#') 
						+icon('arr-back') 
						| Назад
					a(href="#").cancel-btn.small
						+icon('x')
						| Отменить заполнение заявки
				+e.btns-wrap
					+e.btn.btn.btn-link.text-secondary.small(href='#' download) Скачать заявку
						+icon('download')
					button.btn.btn-outline-primary.small Сохранить черновик
					+e.btn.btn.btn-primary.BUTTON Следующий шаг
						+icon('arr-next')
	// end sAuth