
mixin mnu(main)
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")

			each link in nav
				if main
					li.menu-item(itemprop="item")
						a(href=link.url itemprop="url")= link.name
				else
					if link.name == "Правила"
						li.menu-item.active(itemprop="item")
							a(href=link.url itemprop="url")= link.name
					else
						li.menu-item(itemprop="item")
							a(href=link.url itemprop="url")= link.name


mixin mnuCabinet()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")

			each link in cabinetNav
				if link.name == "Подать заявку"
					li.menu-item.gradient(itemprop="item")
						a(href=link.url itemprop="url")= link.name
				else
					li.menu-item(itemprop="item")
						a(href=link.url itemprop="url")= link.name
//- menu